
        <!-- <img src="https://images.pexels.com/photos/54186/tulips-flowers-tulip-bouquet-violet-54186.jpeg?cs=srgb&dl=pexels-pixabay-54186.jpg&fm=jpg" alt="Fresh Flowers" /> -->
        <section class="hero">
          <div class="hero-content">
            <div class="text-content">
              <h1>Fresh Flowers</h1>
              <h2>Natural & Beautiful Flowers</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde,
                obcaecati cumque vel natus placeat sapiente assumenda excepturi.
              </p>
              <button class="shop-btn">Shop Now</button>
            </div>
            <div class="hero-image">
              <img
                src="https://images.pexels.com/photos/54186/tulips-flowers-tulip-bouquet-violet-54186.jpeg?cs=srgb&dl=pexels-pixabay-54186.jpg&fm=jpg"
                alt="Fresh Flowers"
              />
            </div>
          </div>
        </section>